:root {
    --header-height: 10vh;
    --black: #00171f;
    --blue: rgba(0, 168, 232, 0.16);
    --background: #034e6b;
    --foreground: #041f31;
    --border: #065990;
    --white: #ffffffd8;
    --off-white: #ffffffc8;
    --font-heading: "Space Grotesk", "Segoe UI", sans-serif;
    --font-body: "Inter", "Segoe UI", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-body);
    background-color: var(--blue);
    padding: 20px;
}
#main-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px 10px 10px;
    background-color: var(--background);
}

#tab-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    gap: 30px;
    padding-top: 10px;
    padding-left: 10px;

    font-size: clamp(1rem, 1vw + 0.8rem, 1.35rem);
    color: var(--white);
    background-color: var(--background);
}


.tab {
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    
    border-bottom: none;
    border-radius: 100px 100px 100px 100px ;
    font-weight: bold;
    color: var(--foreground);
    background-color: var(--background);
    z-index: 100;

    button{
        visibility: hidden;
    }
}

.tab:hover:not(.active) {

    button{
        visibility: visible;
    }
    padding: 8px 20px;
    color: var(--off-white);
    background-color: var(--foreground);
}

.tab.active, .tab.maximized {
    button{
        visibility: visible;
    }

    font-weight: normal;
    color: var(--white);
    background-color: var(--foreground);
    border: 2px solid var(--border);
    border-radius: 5px 5px 0 0;
}

.container {
    display: none;
    flex: 1;
    min-width: 0;
}

.container.maximized{
    display: block !important;
}

#markdown-input,#preview,#html-output {
    field-sizing: content;
    resize: none;
    outline: none;
    box-shadow: none;

    font-family: var(--font-body);
    font-size: clamp(0.9rem, 0.55vw + 0.82rem, 1.05rem);

    padding: 10px;
    color: var(--white);
    background-color: var(--foreground);

    white-space: pre-wrap;
    overflow-wrap: anywhere;
    overflow-y: auto;
    
    width: 100%;
    min-height: 300px;
    border: 2px solid var(--border);
    border-radius: 0 5px 5px 5px ;
}


@media (max-width: 600px) {
    #main-container {
        flex-direction: column;
    }
}
